.AutoCompleteText {
  width: 50%;
  border: 5px solid black;
  top: 43%;
  left: 36%;
  padding: 0;
  width: 50%;
  height: 10%;
  /* box-shadow: 0 0 0 1   */
}

.AutoCompleteText input {
  width: 100%;
  border: none;
}
